---
import cn from "classnames";

import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import { buildUtmLinkBuilder, getCompanyId } from "~/utils/buildUtmLinkBuilder";
import ExperienceItem from "~/components/ExperienceItem.astro";
import List from "~/components/List.astro";

const companyId = getCompanyId(new URL(Astro.request.url));
const buildUtmLink = buildUtmLinkBuilder(companyId);

const SOCIAL_LINKS: {
  label?: string;
  text: string;
  href: string;
}[] = [
  {
    text: "rrangnekar96@gmail.com",
    href: "mailto:rrangnekar96@gmail.com",
  },
  {
    text: "rahrang.com",
    href: buildUtmLink("https://www.rahrang.com"),
  },
  {
    label: "LinkedIn",
    text: "in/rahrang",
    href: "https://www.linkedin.com/in/rahrang/",
  },
  {
    label: "GitHub",
    text: "rahrang",
    href: "https://www.github.com/rahrang/",
  },
];

const LATTICE_BULLETS: string[] = [
  "Led 9-month project of 4 engineers to create Total Compensation product for 300+ Compensation customers",
  "Engineered in several technical migrations of codebases, databases and employee data, authorization systems",
  "Completed 35+ full-stack features, both iterative improvements and greenfield, across 7 product lines",
  "As tech lead of Goals product, executed cross-domain project to enable Sales team to sell product standalone",
  "Organized and implemented several engineering-wide projects to migrate frontend frameworks (React Router to Next.js, Relay Classic to Relay Modern), libraries (Moment.js to Date Functions, Redux Form to Formik), component library (Styled System to Chakra UI), and established design system",
  "Ideated, designed, and developed set of in-app tools to augment developer efficiency in local environment",
  "Built Datadog dashboards for observability into application performance, error tracking, real user metrics",
  "Created Retool applications to enable Go To Market teams in supporting prospective and current customers, and Engineering and Product teams in debugging issues, reducing direct access to production databases",
  "Added functionality and defined best practices within Lattice Slack application and Chrome Extension",
];

const CHANNELMETER_BULLETS: string[] = [
  "Developed CRM software for 30+ media networks and brands to manage day-to-day administration and track performance of 350K+ social influencers across YouTube, Facebook, Instagram, Twitch, and Twitter",
  "Engineered full-stack of 80+ page web application using React, Node.js, Golang, Cassandra, and BigTable",
  "Built upon nightly CRON jobs to harvest data from various social media sources, primarily public APIs",
  "Designed system to generate customizable PDF exports of influencer one-pagers using Puppeteer and React",
  "Built audit log feature for admins to search, filter, and track modifications of sensitive user and company data",
  "Improved site performance by refactoring 300+ component library, modifying 561 files, upgrading 93 packages",
];

const PROJECT_BULLETS: {
  label: string;
  href: string;
  text: string;
}[] = [
  {
    label: "matcha-stock.com",
    href: buildUtmLink("https://www.matcha-stock.com"),
    text: "Automatically tracks matcha availability from various vendors, notifies 1,500+ subscribers",
  },
  {
    label: "fbpr.fyi",
    href: buildUtmLink("https://www.fbpr.fyi"),
    text: "Tracks current and historical Flying Blue Promo Rewards award travel deals by Air France & KLM",
  },
  {
    label: "travelpartners.fyi",
    href: buildUtmLink("https://www.travelpartners.fyi"),
    text: "Tracks rates at which bank program points transfer to hotel & airline programs",
  },
  {
    label: "brekky.fyi",
    href: buildUtmLink("https://www.brekky.fyi"),
    text: "A quick form wizard to determine whether or not you’ll receive breakfast at a Marriott property",
  },
  {
    label: "pasta.fyi",
    href: buildUtmLink("https://www.pasta.fyi"),
    text: "A lifelong journey to catalog (and consume) every type of pasta",
  },
];

const SKILL_BULLETS: {
  label: string;
  text: string;
}[] = [
  {
    label: "Languages",
    text: "JavaScript/TypeScript, GraphQL, HTML, CSS, SQL",
  },
  {
    label: "Frameworks",
    text: "React, Next.js, Remix, Astro / Relay / Node.js, NestJS / Tailwind CSS",
  },
  {
    label: "Databases",
    text: "PostgreSQL, Redis",
  },
  {
    label: "Tools",
    text: "Datadog, FullStory, Retool, Sentry, Segment",
  },
];

const isDevelopment = import.meta.env.DEV;
---

<Layout title="Rahul Rangnekar">
  <main
    class={cn(
      isDevelopment && "bg-green-50 print:bg-white",
      "h-full w-full px-8 py-8",
    )}
  >
    <header class="flex justify-between items-center mb-4">
      <h1 class="font-semibold text-5xl">Rahul Rangnekar</h1>
      <ul class="text-right">
        {
          SOCIAL_LINKS.map((link) => {
            return (
              <li class="text-sm">
                <span>{link.label ? `${link.label}: ` : null}</span>
                <span>
                  <a
                    class="underline underline-offset-2"
                    href={link.href}
                    target="_blank"
                  >
                    {link.text}
                  </a>
                </span>
              </li>
            );
          })
        }
      </ul>
    </header>

    <div class="space-y-6">
      <Section title="Experience">
        <div class="space-y-4">
          <ExperienceItem
            title="Lattice"
            subtitle="Senior Software Engineer"
            dateRange="Sep 2019 - Present"
          >
            <List>
              {LATTICE_BULLETS.map((text) => <li>{text}</li>)}
            </List>
          </ExperienceItem>

          <ExperienceItem
            title="ChannelMeter"
            subtitle="Software Engineer"
            dateRange="May 2018 - Aug 2019"
          >
            <List>
              {CHANNELMETER_BULLETS.map((text) => <li>{text}</li>)}
            </List>
          </ExperienceItem>

          <ExperienceItem title="Projects">
            <List>
              {
                PROJECT_BULLETS.map((bullet) => {
                  return (
                    <li>
                      <p>
                        <a
                          class="underline inline-block whitespace-nowrap"
                          href={bullet.href}
                        >
                          {bullet.label}
                        </a>

                        {/* hacky workaround because there seems to be a space after the anchor tag */}
                        <span class="-ml-1">:</span>
                        <span class="inline-block">{bullet.text}</span>
                      </p>
                    </li>
                  );
                })
              }
            </List>
          </ExperienceItem>
        </div>
      </Section>

      <Section title="Skills">
        <List>
          {
            SKILL_BULLETS.map((bullet) => {
              return (
                <li>
                  <span class="font-semibold">{bullet.label}</span>:
                  {bullet.text}
                </li>
              );
            })
          }
        </List>
      </Section>

      <Section title="Education">
        <div class="flex items-baseline justify-between">
          <span class="font-semibold">University of California, Berkeley</span>
          <span>Berkeley, CA</span>
        </div>
        <div>B.A., Computer Science, College of Letters & Sciences</div>
        <div>B.A., Economics, College of Letters & Sciences</div>
      </Section>
    </div>
  </main>
</Layout>
